.git
.github
.venv
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.tox
**/.nox
**/*.egg-info

build
dist
tmp
artifacts
**/*.log
**/*.dat
**/*.pcap
**/*.pcapng
**/capture
**/captures
**/debug-dumps
**/debug_dumps
**/.coverage
**/htmlcov

docs
installer
docker
scripts
addon/tests
addon/appdaemon/tests
state-agent/*
!state-agent/release-public-key.hex
